ul {
  list-style-type: none;
  width: 60%;
  margin: 30px auto;
}
ul li {
  width: 150px;
  height: 120px;
  border: 1px solid black;
  float: left;
  margin: 10px;
  cursor: pointer;
}
div.video {
  height: 500px;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  visibility: visible;
}
.modal .modal-dialog{
    width: 100%;
    height:500px;
    margin: 0 auto;
  }
.modal-backdrop{
  z-index: 1;
}
.modal .modal-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0;
  transition: all .4s ease;
}
.modal .modal-wrap {
  width: 80%;
  max-height: 90%;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #959595;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.1);
  background: white;
  margin: auto;
  position: relative;
  top: 50%;
  z-index: 91;
  transform: translateY(-30%);
  opacity: 0;
  transition: all .3s;
}
.modal .modal-content {
  padding: 0 0px;
  overflow: auto;
  min-height: 100px;
}
.modal .modal-content p {
  color: gray;
  line-height: 200px;
}

.modal.open {
  visibility: visible;
}
.modal.open .modal-backdrop {
  opacity: .75;
}
.modal.open .modal-wrap {
  opacity: 1;
  transform: translateY(-50%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 600px;
}

.skw-page {
  position: absolute;
  left: 0px;
  top: 0;
  width: 90%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: transform 1s;
}
.skw-page__half--left {
  left: 10%;
  transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 130%;
  height: 100%;
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -30%;
}
.skw-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  transition: transform 1s, opacity 1s;
  background-size: cover;
}
.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.skw-page__description {
  font-size: 18px;
  text-align: center;
}
.skw-page__link {
  color: #FFA0A0;
}
.skw-page-1 .skw-page__half--left .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-1.jpg");
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background: #292929;
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background: #292929;
}
.skw-page-2 .skw-page__half--right .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
}
.skw-page-3 .skw-page__half--left .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-2.jpg");
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background: #292929;
}
.skw-page-4 .skw-page__half--left .skw-page__content {
  background: #292929;
}
.skw-page-4 .skw-page__half--right .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
}
.skw-page-5 .skw-page__half--left .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/img-test.jpg");
}
.skw-page-5 .skw-page__half--right .skw-page__content {
  background: #292929;
}

.intro p{
    color: black;
  }

  /* Centered texts in each section
  * --------------------------------------- */
  .section{
    text-align:center;
  }

  /* Bottom menu
  * --------------------------------------- */
  #infoMenu li a {
    color: #fff;
  }

/*
video {
    min-width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

h1 {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    color: white;
}


@media screen and (min-width: 720px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (min-width: 960px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    font-size: 18px;
  }
}*/

.bgvid {
  position: relative;
  min-width: 100%;
  
  width: auto;
  height: auto;
  background-size: cover;
}

.page-header {
  font-size: 1.125rem;
  position: absolute;
  text-align: left;
  bottom: 5em;
  left: 5em;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.9);
  mix-blend-mode: multiply;
}
